<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.nineuniverse.repository.DeckEntryMapper">

	<select id="findByDeckId" resultType="com.example.nineuniverse.domain.DeckEntry">
		SELECT deck_id AS deckId, slot, card_id AS cardId FROM deck_entry WHERE deck_id = #{deckId} ORDER BY slot
	</select>

	<delete id="deleteByDeckId">
		DELETE FROM deck_entry WHERE deck_id = #{deckId}
	</delete>

	<insert id="insert">
		INSERT INTO deck_entry (deck_id, slot, card_id) VALUES (#{deckId}, #{slot}, #{cardId})
	</insert>
</mapper>
